:root {
    --env-color: #ffb1b1;
    --env-dark: #ff8e8e;
    --env-light: #ffdada;
    --letter-bg: #fffafa;
    --heart-color: #ff4d6d;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #ff8e8e;
}


#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(70%);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 10;
}

.envelope-wrapper {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: var(--env-color);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.letter {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 95%;
    background: var(--letter-bg);
    padding: 15px;
    box-sizing: border-box;
    z-index: 2; 
    transition: transform 0.7s ease-in-out;
    border-radius: 5px;
    overflow-y: auto; 
}


.confession-title { font-size: 14px; color: var(--heart-color); display: block; margin-bottom: 5px; }
.confession-text { font-size: 12px; color: #444; line-height: 1.5; }
.signature { font-family: 'Brush Script MT', cursive; font-size: 18px; color: var(--heart-color); margin-top: 10px; }


.envelope-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    border-top: 100px solid transparent;
    border-right: 150px solid var(--env-light);
    border-bottom: 100px solid var(--env-light);
    border-left: 150px solid var(--env-light);
}

.envelope-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    border-top: 130px solid var(--env-dark);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.6s ease-in-out;
}


.envelope-wrapper.open::after {
    transform: rotateX(180deg);
    z-index: 1; 
}

.envelope-wrapper.open .letter {
    transform: translateY(-120px);
    z-index: 5; 
}


.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    background: var(--heart-color);
    z-index: 5;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: opacity 0.3s;
}
.heart::before, .heart::after {
    content: "";
    position: absolute;
    width: 25px; height: 25px;
    background: var(--heart-color);
    border-radius: 50%;
}
.heart::before { top: -12px; left: 0; }
.heart::after { left: -12px; top: 0; }

.envelope-wrapper.open .heart { opacity: 0; }

.open-btn {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background-color: var(--heart-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 77, 109, 0.4);
}